<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/style.css">
    <title>DEPO</title>
    <style>
    title{
        text-align: center;
        font-size: xx-large;
        font-family: sans-serif;
    }
    a{
        text-decoration: none;
            
        }
    a:visited{
        color: white;
    }
    header{
        text-align: center;
        position: fixed;
        top:0;
        left:0;
        right:0;
        color: white;
        background-color:#bbbbbb;
    }
    h3{
        font-size: xx-large;
        margin:5px;
        padding:10px;
    }
    </style>
        <header>
            <a href="/menu"><h3>DEPO</h3></a>
        </header>
  </head>