<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/style.css">
    <title>DEPO</title>
    <header>
        <a href="/menu"><h3>DEPO</h3></a>
    </header>
  </head>