<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <div class="container">
        <a href="/paketsorgu">
            <img src="img/magnifying_glass.jpg" alt="box">
        </a><br>
        <h2>PAKET SORGULA</h2>
    </div>
    <div class="container">
        <a href="/yenipaket">
            <img src="img/box.jpg">
        </a><br>
        <h2>YENI PAKET</h2>
    </div>
    <div class="container">
        <a href="/rafsorgu">
            <img src="img/raf.jpeg">
        </a><br>
        <h2>RAF SORGULA</h2>
    </div>
</body>
</html>
