<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: white;
    }

    .container {
        width: 150px; /* Adjust this width as per your preference */
        height: 150px;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    img{
        width: 150px;
        height: 150px;
    }
    h2{
        text-align: center;
        text-decoration: none;
        color: black;
    }
    header{
        text-align: center;
        position: fixed;
        top:0;
        left:0;
        right:0;
        color: white;
    }
    a{
        text-decoration: none;
    }
</style>
<body>
    <div class="container">
        <a href="/paketsorgu">
            <img src="img/magnifying_glass.jpg" alt="box">
        </a><br>
        <h2>PAKET SORGULA</h2>
    </div>
    <div class="container">
        <a href="/yenipaket">
            <img src="img/box.jpg">
        </a><br>
        <h2>YENI PAKET</h2>
    </div>
    <div class="container">
        <a href="/rafsorgu">
            <img src="img/raf.jpeg">
        </a><br>
        <h2>RAF SORGULA</h2>
    </div>
</body>
</html>
