<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <div class="form-container">
        <div class="form-row">
            <label>ID</label>
        </div>
        <div class="form-row">
            <input type="text"><br><br><br>
        </div>
        <button id="searchButton">SEARCH</button>
        <div class="form-row">
            <label>location</label>
            <label>pieces</label>
            <label>features</label>
        </div>
        <div class="form-row">
            <form>

                <input type="text" id="location" name="location"  required>
                    <label id="hyphen">-</label>
                    <input type="text" id="pieces" >
                    <label id="hyphen">-</label>
                    <input type="text" id="features" >
            </form>
        </div>
        <div>
            <button id="saveButton" >SAVE</button>
        </div>
    </div>
</body>
</html>
